*{
	box-sizing: border-box;
}

.container {
	background-image: url("http://i.imgur.com/RsbysQo.png");
	height: 1000px;
}

header {
	font-family:'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
	color: #4aaaa5;
	float: left;	
	display: inline;
	width: 1425px;
	padding-bottom: 0px;
	border: 2px;
}

h1 {
	background-color: #4aaaa5;
	margin-left: 50px;
	margin-bottom: 0px;
	padding: 30px;
	color: #eeeeee;
	font-size: 40px;
	text-align: center;
	float: left;
}

ul {
	float: right;
	padding-top: 25px;
	margin-right: 200px;
	display: inline;
	margin-bottom: 0px;
}

li {
	border-right: 1px solid #bbb;
}


li:last-child {
    border-right: none;
}

li a {
	text-decoration: none;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-left: 1px #777777;
	display: inline;
}



#contact {
	display: inline;
}

.background {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 191px;
	float: bottom;
	width: auto;
	height: 1000px;
}

.me {
	display: inline-block;
    width: 600px;
    height: 600px;
    margin-left: 50px;
    margin-top: 20px;
    width: 1000px;
    padding-top: 0px;
	background-color: #ffffff;

}

h4 {
	color: #4aaaa5;
	font-size: 30px;
	margin-left: 30px;
	bottom-border: 2px #dddddd;
}

#about {
    width: 500px;
    height: 200px;
   	margin-left: 350px;
   	padding-top: 0px;
}

#pic {
    margin-left: 50px;
    width: 19%;
    height:200px;
}

.social {
	float: right;
	height: 150px;
	background: #ffffff;
	padding: 20px;
}

h5 {
	border: 2px #dddddd;
	font-size: 20px;
}

.Portfolio {
    position: relative;
	margin: 10px;
	height: auto;
	background-color: black;
}

.icon a{
	display: flex;
	height: 48px;
	width: 48px;
}

a {
	display: flex;
}

.two {
	
}

form {
	color: #777777;
	margin-left: 30px;
}

.grandparent {
	display: inline-flex;
	width: 800px;
	height: 650px;
	padding: 20px;
	position: relative;
	margin-left: 5px;
}

.child {
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0;
	margin-bottom: 10px;	
	padding: 10px;
	opacity: .8;
	background-color: #4aaaa5; 

}

.child p {
	color: #cccccc;
	text-align: center;
	margin-top: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#line {
	border-color: #dddddd;
	margin-top: 250px;
}

footer {
	font-size: 10px;
	text-align: center;
	background-color: #4aaaa5;
	padding: 20px;
	color: #dddddd;
	border-top: 2px #dddddd;
}

